{% extends "base.html" %}

{% block title %}Message Room | Chat App{% endblock %}

{% block header %}Message Room<hr style="border-color: grey;">{% endblock %}

<!-- Chat screen -->
{% block content %}
<h2 id="warn" style='color: #ccc'>Ainda não há mensagens</h2>
{% endblock %}

<!-- Send message form -->
{% block content2 %}
<div style="margin-left: 2rem;">

	<form class="form-group" autocomplete='off' method="POST">
		<div class="form-group">
			<h5><input id="username" type="text" readonly class="user form-control-plaintext" 
				style="color: green;" value="Você está logado como {{user}}"></h5>
			<div class="online">
				<p id="conn" style="font-size: 14px;"><i>Online agora: 0</i></p>
			</div>
			<hr style="border-color: grey; margin-bottom: 2rem;">
			<input type="text" class="message form-control" style="height: 4rem;" placeholder="Mensagem"></textarea>
		</div>
		<button class="btn btn-success btn-block">Enviar &nbsp;
			<i class="fa fa-paper-plane"></i></button>
	</form>

	<hr style="border-color: grey; margin-top: 2rem; margin-bottom: 2rem;">

	<div class="btn-group btn-block" role="group">
  		<a href="/chat/{{user}}/history" class="btn btn-sm btn-outline-info" style="width: 50%;">
  			Minhas mensagens &nbsp;<i class="far fa-folder" style="color: #1E90ff;"></i></a>
  		<a href="/delete-account" class="btn btn-sm btn-outline-info" style="width: 50%;">
  			Deletar dados &nbsp;<i class="fas fa-ban" style="color: #1E90ff;"></i></a>
	</div>

</div>
{% endblock %}

<!-- JQuery script for socket handling -->
{% block js %}
<script>
	
	var socket = io.connect('localhost')
	var client = $('#username').val().substring(22)

	// socket connection (sends connection check message)
	socket.on('connect', function() {

		socket.emit('message', {
			user: client,
			status: 'connected'
		})

		// emits message to server (data from form) || event = message
		var form = $('form').on('submit', function(e) {
			e.preventDefault()

			let message = $('input.message').val()

			socket.emit('message', {
				user: client,
				data: message
			})

			$('input.message').val('').focus()
		})

		// emits disconnection warning to server || event = disconnection
		$('#quit').on('click', function() {
			socket.emit('disconnection', {user: client})
		})
	})

	// receives message from server (jquery to print message) || event = relay
	socket.on('relay', function(data) {

		if (data.data !== '' && typeof data.data !== 'undefined'){

			if (data.user !== client) {
				$('#warn').remove()
				$('div.col-7').prepend('<div class="msg"><b>['+data.user+'] </b>'+data.data+'</div>')
			} else {
				$('#warn').remove()
				$('div.col-7').prepend('<div class="mymsg"><b>['+data.user+'] </b>'+data.data+'</span></div>')
			}
		}

		var counter = $('div.col-7').children('div').length;

		if (counter > 9) {
			$('div.msg').last().remove()
		}
	})

	// receives number of connections from server || event = online now
	socket.on('online now', function(data) {

		$('#conn').remove()
		$('div.online').append('<p id="conn" style="font-size: 14px;"><i>Online agora: '+data+'</i></p>')
		
	})

</script>
{% endblock %}
